/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 3

   Pixal Arts and Entertainment Animation Styles
   Author:Nicholas Garcia
   Date:   

   Filename: 
   
   Sprite animation is created using the paa_bat.png, 
   paa_bfly.png, and paa_fox.png image files.
   
   paa_bat.png has 40 frames
   paa_bfly.png has 34 frames
   paa_fox.png has 28 frames

*/


/* Transition Effects */
nav#gameLinks a{
   position: relative;
   color: white;
   transition: color 0.5s;

}
nav#gameLinks a:hover{
   color: rgb(255, 194, 99);
}
nav#gameLinks a::after{
   content: "";
   position: absolute;
   top: 100%;
   left: 0px;
   width: 0%;
   height: 8px;
   background-image: linear-gradient(to right rgb(237, 234, 71), rgb(188, 74, 0) );
   border-radius: 4px;
   opacity: 0;
   transition: width 0.5s, opacity 0.5s;
}
nav#gameLinks a:hover::after{
   opacity: 1;
   width: 100%;
}


/* Sprite Styles */
div.sprite{
   position: absolute;

}
div#bat{
   width: 40px;
   height: 50px;
   top: 100px;
   left: -50px;
   background-image: url(paa_bat.png);
   background-repeat: no-repeat;
   background-position: left center;
   background-size: cover;
}
div#butterfly{
   width: 35px;
   height: 35px;
   top: 60px;
   left: -50px;

}


/* Animation Styles */

